.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    justify-content: center;
}

.container .img-container img {
    width: 100%;
    border-radius: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    row-gap: 10px;
    justify-content: center;

}

header nav ul li{
    border: 1px solid rgb(red, green, blue);
    background-color: rgb(164, 50, 168);
    padding: 10px;
    color: rgb(19, 199, 199);
    border: 10px;
    cursor: auto;
}